{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
                <h4 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h4>
                <h6>Created on: {{ post.created_on }}</h6>
                <p class="card-text">{{ post.body}}</p>
                {% if user.is_authenticated %}
                    {% if post.author.username == user.username %}
                        <button type="button" class="btn btn-outline-info">
                            <a href="{% url 'detail' post.id %}" class="card-link">Details</a>
                        </button>
                        <button type="button" class="btn btn-outline-warning">
                            <a href="{% url 'edit' post.id %}"><i class="bi bi-pencil"></i></a>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <a href="{% url 'delete' post.id %}"><i class="bi bi-trash"></i></a>
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}